.main {
  background-color: #f0f3f5;
  padding: 80px 0;
}

.contact_us_container {
  position: relative;
  .form_image {
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.dropdown_btn {
  padding: 16px 12px;
  text-align: start;
}

.left_side {
  width: 300px;
  margin-right: 24px;
  .left_heading {
    font-weight: 500;
    font-size: 24px;
    @include tablet-down {
      font-size: 20px;
    }
  }
}
.right_side {
  width: 100%;
}

.reminder_text {
  color: $natural-50;
  font-size: 16px;
  @include tablet-down {
    font-size: 14px;
  }
}

.form_reminder_text {
  color: $natural-50;
  font-size: 14px;
}

.contact_btn {
  padding: 12px 20px;
  font-weight: 400;
}

/*-----overview------*/
.dropdown_row {
  font-size: 14px;
}

input[type="file"] {
  display: none;
}

.contact_check_label {
  font-size: 16px;
  @include tablet-down {
    font-size: 14px;
  }
}
